
html, body {
    margin: 0px;
    background-image: linear-gradient(to bottom right, #95d9f9, #4bc391);
    overflow-x: hidden;
}
h1 {
    font-family: tahomas, sans-serif;
    opacity: 60%;
    position: absolute;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.globe {
    text-align: center;
    margin-top: 15px;
}

.globe_image {
    height: 20vh;
    
}
.wrapper {
    background-color: #3628b9;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    padding: 1.5%;
   
   
}
.wrapper_2 {
    background-color: #fff389;
    width: 100%;
    height: 190px;
    margin-top: 20px;
    
}
.wrapper_2 .page{
    width: 20%;
    height: 180px;
    background-color: #009e9e;
    display: inline-block;
    margin: 0.4%
}
footer {
    background-color: #006F9E;
    color: #fff;
    width: 98%;
    height: 60px;
    margin: 1%;
}
footer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;    
}
.image_link{
    height: 180px;
    width: 18.5vw;
    margin: 1% 0 1% 1%;
}
.image_link:hover {
    filter: grayscale(70%);
}
.cities {
    position: sticky;
    width: 100%;
    max-width: 460px;
   
    float: left;
  }
  
  .cities img {
    width: 100%;
    height: 150px;
  }
  
  .cities .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .cities .btn:hover {
    background-color: rgb(141, 14, 14);
    color: white;
  }
section {
    text-align: center;
    padding: 20px 40px;
  }
  
  .base img {
    width: 75%;
    height: 800px;
  }
  .contain img {
    object-fit: contain;
  }
  
